# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/tdfoss
!/modules/tdfoss/*
/themes/*
!/themes/admin_default/css/tdfoss.css
!/themes/admin_default/js/tdfoss.js
!/themes/admin_default/js/tdfoss_*.js
!/themes/admin_default/images/tdfoss
!/themes/admin_default/images/tdfoss/*
!/themes/admin_default/modules/tdfoss
!/themes/admin_default/modules/tdfoss/*
!/themes/default/css/tdfoss.css
!/themes/default/js/tdfoss_*.css
!/themes/default/js/tdfoss.js
!/themes/default/js/tdfoss_*.js
!/themes/default/images/tdfoss
!/themes/default/images/tdfoss/*
!/themes/default/modules/tdfoss
!/themes/default/modules/tdfoss/*
/.project
/vendor/
/.gitattributes
/composer.json
/.settings/
/.buildpath
/error.php
